@using Microsoft.AspNetCore.Components.Web
@using RunescapeQuests

<div class="container">
    <div class="row">
        <div class="col">
            @if (PlayerSkillsList != null)
            {
                @foreach (var skill in PlayerSkillsList)
                {
                    <RenderFragmentChild style="padding:10px; white-space:nowrap;">
                        <img src="/skills/@(skill.name).png" height="32" width="32"/> @skill.level
                    </RenderFragmentChild>
                }
            }
        </div>
    </div>
</div>
@code {
    public Skills PlayerSkillsList { get; set; }
    protected override void OnInitialized()
    {
        if(RSPlayer.Instance.PlayerSkills != null)
            PlayerSkillsList = RSPlayer.Instance.PlayerSkills.PlayerSkills;
        
        base.OnInitialized();
    }
    public void UpdatePlayerSkillsList()
    {
        if(RSPlayer.Instance.PlayerSkills != null)
            PlayerSkillsList = RSPlayer.Instance.PlayerSkills.PlayerSkills;
        StateHasChanged();        
    }
}